@import "variables";

$title-space: calc($side-panel-size - $logo-size - $logo-padding);

#banner {
  margin-top: 50px;
}

#sitedescr {
  text-align: center;
  margin: auto;
}

#biglogo {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px auto;
  z-index: 1;

  a {
    display: inline-block;
  }

  .sitename {
    margin: auto;
    font-size: 60px;
  }

  img {
    width: $logo-size;
  }
}

#sitesocial {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  margin: unset;
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;

  li {
    padding-top: 2px;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#menubar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10pt;
  width: 100%;

  .sitename {
    margin-left: 40px;
  }

  img {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
  }
}

#menu {
  margin-top: 5px;
  height: 100%;
  
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10pt;
  }

  a {
    color: darken(#cecece, 10%);
    margin: auto;
    text-align: center;
    border-bottom: 3px solid #f1f1f1;
    width: fit-content;
    transition-property: border-color, color;
    transition-duration: 300ms;
  }

  a:hover {
    color: $color1;
    border-bottom: 3px solid $color1;
  }
}
