@import "variables";

$text: #B0B0B0;

.code {
 color: $text;
 background-color: #2d2d2d;
}

.name, .block, .generic, .group {
 color: white;
}

.keyword, .type, .modifier {
 color: $color1;
}

.name.class, .name.function {
 color: $color2;
}

.variable, .macro, .parameter, .path {
 color: $color2_light;
}

.parameters, .operator {
 color: $color3_light;
}

.comment {
 color: #9D9D9D;
}

.punctuation {
 color: #AdAdAd; //bebebe;
}
