@import "variables";

$text-color: #EFEFEF;
$background-color: #181818;
$code-background: lighten($background-color, 10%);

$link-hover: #FFF;
$link-color: $color1;

html[class="dark-mode"] {
  background-color: $background-color;
  border-top: solid $color1 $banner-top-border;
  color: $text-color;

  a {
    color: $link-color;
  }

  a:hover {
    color: $link-hover;
  }

  strong {
    color: $color3_light;
  }

  em {
    color: $color3_light;
  }

  code {
    color: $text-color;
    border-color: $color1;
    background-color: $code-background;
  }

  pre {
    background-color: $code-background;
    border-width: 1px;
    border-color: $color1;
    code {
      color: $text-color;
    }
  }

  blockquote {
    color: $color2;
    border-left-color: $color2_dark;
  }

  footer {
    .index-link {
      color: $color2;
    }
  }

  .styled-list {
    h1 {
      color: $color1;
    }

    li {
     border-left-color: lighten($background-color, 10%);
    }

    li:hover {
      color: $link-hover;
      border-left-color: $link-hover;

      .item-header strong {
        color: $color3_light;
      }

      .item-title {
        color: $color2_light;
      }

      .item-description {
        color: $link-hover;
      }

      .item-index {
        color: $color3_light;
      }
    }

    .item-title {
      color: $color2;
    }

    .item-description {
      color: darken($text-color, 13%);
    }

    .item-metadata {
      color: $color3;
      strong {
        color: inherit;
      }

      .item-date {
        color: #777777;
      }
    }

    .item-index {
      color: $color3;
    }

    
    .show-more {
      color: $text-color;
    }
  }

  #welcome-message {
    background-color: #2A2A2A;
    border-color: $color3_light;
  }

  .webring-footer {
    a {
      color: $color2;
    }
  }

  #hireme-link {
    color: white;
    background-color: $code-background;
    strong {
      color: white;
    }
  }

  #hireme-link:hover {
    background-color: $color2;
    color: black;
    strong {
      color: black;
    }
  }

  #serie-name {
    color: $color3_light;
  }

  #post-date, #post-date-modified {
    color: $light-gray
  }

  #post-metadata {
    #post-serie-metadata {
      color: $light-gray;
      .serie-title {
        color: $color3;
      }
      .serie-title:hover {
        color: $link-hover;
      }
    }
  }

  #post-content {
    h1 {
      color: $color1;
    }
    h2 {
      color: $color2;
    }
    h3 { 
      color: $color3;
    }
  }

  .back-top {
    color: #000000;
    background-color: desaturate($color2, 20%);
  }

  .back-top:hover {
    background-color: $color2_light;
    color: $color2_dark;
  }

  #post-tags {
    .post-tag:hover {
      border-color: $color2;
      color: $color3_light;
    }
  }

  #post-nav {
    a {
      color: $color3_light;
    }

    a:hover {
      color: $link-color;
    }

    .h1 {
      color: $color1_dimmed;
    }
    .h2 {
      color: $color2_dimmed;
    }
    .h3 {
      color: $color3_dimmed;
    }
    li > a {
      border-left-color: $background-color;
    }
    li.active > a.h1 {
      color: $color1_light;
      border-left-color: $color1;
    }

    li.active > a.h2 {
      color: $color2_light;
      border-left-color: $color2;
    }

    li.active > a.h3 {
      color: $color3_light;
      border-left-color: $color3;
    }
    .back-top {
      color: $color2_light;
      background-color: unset;
    }
  }

  #site-nav {
    .to-index {
      color: $color1;
    }

    .to-index:hover {
      color: $link-hover;
    }

    #nav-serie-post {
      a {
        li {
          color: $text-color;
        }
        li:hover {
          color: $color3_light;
        }
        .current-post {
          color: $text-color;
        }
        .current-post:hover {
          color: $link-hover;
          color: $color3_light;
        }
      }
      a h3 {
        color: $color3;
      }
      a h3:hover {
        color: $color3_light;
      }
    }

    #same-category {
      h3 {
        color: $color1;
      }
      a {
        color: $text-color;
      }
      a:hover {
        color: $color3_light;
      }
    }
  }

  #pagination {
    span a {
      div {
        color: $text-color;
        span {
          color: $color1;
        }
      }
      div:hover {
        color: $color1;
      }
    }
  }

  #banner {
    border-bottom: 1px solid #4A4A4A;
  }

  #sitesocial {
    a {
      color: $color2;
    }
  }

  #poll-intro {
    color: $light-gray;
  }

  .question-note {
    color: $light-gray;
  }

  .range-value {
    color: $light-gray;
  }

  .poll-submit-button {
    background-color: $color2;
    border-color: black;
  }

  .poll-submit-button:hover {
    background-color: white;
    color: $color1;
    border-color: $color1;
  }

  #hireme {
    strong {
      color: $color2;
    }

    em {
      color: $color1;
    }
    h1 {
      color: $color2;
    }
    h2 {
      color: $color1;
    }
    h3 {
      color: $color3;
    }
    hr {
      color: $color1;
    }
    blockquote {
      color: white;
      border-left-color: $color2-light;
      border-bottom-color: $color2-light;
    }
  }
}
