@import "variables";

// TODO  Move this back to individual files

$header-font-mult: 1.9;
$title-font-mult: 1.3;
$font-mult: 2.2;
$font-mult-zoomed: 2.5;
$line-height-mult: 2.2;

@media screen and (max-width: $phone-media) {
  #hireme-link {
    max-width: unset;
  }

  // Post

  // Nav

  // Error
  .err-title {
    font-size: calc($title-font-size * 1.5);
  }

  .err-content {
    font-size: calc($base-font-size * 2);
  }
}
