@import "variables";

.question-container {
  border-left: 5pt solid $color1;
  padding-bottom: 10pt;
  padding-left: 20pt;
  padding-top: 5pt;
  margin: 40pt 0pt;
  list-style: none;

  // Initial state of questions is masked
  display: none;
}

.question-text {
  margin-bottom: 5pt;
  margin-top: 0pt;
}

.question-note {
  margin-top: 0pt;
}

.range-value {
  margin-left: 20pt;
}

#ask-email {
  a {
    text-decoration: underline;
  }
  label {
    margin-right: 25px;
  }
}

.webring-footer {
  display: none;
}

.poll-submit-button {
  padding: 5pt 10pt;
  border-width: 1px;
  border-style: solid;
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  display: block;
  margin-bottom: 40pt;
  margin-top: 20pt;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
