@import "variables";

#post-metadata {
  padding: 5px;
  padding-bottom: 30px;
  border-bottom: 1px solid #4A4A4A;

  #post-serie-metadata {
    padding-bottom: 10px;
    .serie-title {
      font-weight: 900;
    }
  }
}

code {
  // border-width: 1px;
  // border-style: solid;
  background-color: $code-background-color;
  border-radius: 3px;
  padding: 0px 5px;
  white-space: pre;
  overflow: scroll;
}

pre {
  border-style: solid;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;

  code {
    display: block;
    font-size: $code-font-size;
    box-sizing: border-box;
    max-width: 100%;
  }
  code::-webkit-scrollbar {
    display: none;
  }
}

#post-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

#post-content {
  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-left: 20px;
    margin-top: 60px;
  }

  h3 {
    padding-left: 30px;
    border-left: 5px solid;
    margin-top: 60px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
  }

  em {
    margin-right: 8px;
  }

  strong {
    margin-left: 3px;
    margin-right: 3px;
  }

  li {
    margin-bottom: 15px;
  }
}

blockquote {
  border-left-width: 5px;
  border-left-style: solid;
  margin-left: 20px;
  padding-left: 20px;
}

.back-top {
  display: block;
  width: 80%;
  text-align: center;
  margin: 50px auto 30px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 200ms ease-in-out;
}

#post-tags {
  margin-top: 15px;
  width: auto;
  strong {
    margin-right: 20px;
  }
  .post-tag {
    transition: all 250ms ease-in-out;
    margin-right: 20px;
  }
}

@media screen and (max-width: $tablet-media) {
  p {
    text-align: justify;
  }

  code {
    white-space: unset;
  }

  #post-title {
    margin: unset;
  }


  #post-content {
    h1 {
      margin-top: 40px;
    }

    h2 {
      margin-top: 30px;
    }

    h3 {
      margin-top: 30px;
    }
  }

  #post-nav {
    display: none;
  }

  #site-nav {
    display: none;
  }
}

@media screen and (max-width: $phone-media) {
  html {
    word-wrap: anywhere;
    font-size: calc($base-font-size * 0.8);
  }

  #post-title {
    margin: 30px 0px;
    font-size: calc($title-font-size * 0.7);
    line-height: 1.2em;
  }

  #post-metadata {
    font-size: calc($base-font-size * 0.8);
  }

  #post-content {
    h1 {
      margin-top: 40px;
      font-size: calc($h1-size * 0.8);
    }

    h2 {
      margin-top: 40px;
      font-size: calc($h2-size * 0.8);
    }

    h3 {
      margin-top: 40px;
      font-size: calc($h3-size * 0.8);
    }

    code {
      font-size: calc($base-font-size * 0.7);
    }

    blockquote {
      font-size: calc($base-font-size * 0.7);
      line-height: 1.2em;
    }

    pre code {
      font-size: calc($code-font-size * 0.75);
    }
  }
}
