@import "variables";

#sitedescr, #logo, #sitesocial, .right-panel, .left-panel, .back-top {
  visibility: hidden !important;
  display: none;
}

#banner {
  grid-template-columns: 1fr;
  border-bottom: unset;
}

#post-title {
  margin-top: 30px;
}

.page-grid {
  display: block;
}

.body-content-wrapper {
  max-width: unset;
  margin-left: 10px;
  margin-right: 10px;
}

.copyrights {
  border-top: 1px #444444 solid;
  padding-top: 10px;
  margin-top: 60px;
}
