@import "variables";

html {
  background-color: #FCFCFC;
}

a {
  text-decoration: none;
}

.rss-intro {
  text-align: center;
  font-size: 20px;

  code {
    color: $color1;
  }
}

.rss-post-list {
  min-width: 500px;
  width: 50%;
  margin: auto;
}

.banner {
  display: grid;
  width: 650px;
  grid-template-columns: 140px 3fr;
  column-gap: 50px;
  margin: auto;

  img {
    width: 140px;
  }

  h1 a {
    color: $color1;
    font-size: 90px;
  }

  a:hover {
    color: $color1_light;
  }

  margin-bottom: 80px;
}

.rss-item {
  margin: auto;
  display: block;
  margin-bottom: 30px;
  padding: 10px 30px;
  border-radius: 20px;

  .rss-item-title {
    font-size: 30px;
    margin-bottom: 10px;
    color: $color2;
  }

  .rss-item-metadata {
    color: #aeaeae;
    font-size: 18px;
  }

  .rss-item-description {
    color: #000000;
  }
}

.rss-item:hover {
  background-color: #f1f1f1;

  .rss-item-title {
    color: $color1;
  }
}
