{% for lang in pref_langs %}
  {% if banner[lang] %}
    {% set_global banner = banner[lang] %}
    {% break %}
  {% endif %}
{% endfor %}

<div id="biglogo">
  <a href="/"><img src="/static/logo.png" alt="Logo of a litchi fruit"/></a>
  <a class="sitename" href="/">{{ site.name }}</a>
</div>

<div id="menubar">
  <img src="/static/logo_micro.png">
  <a class="sitename" href="/">{{ site.name }}</a>
  <nav id="menu">
    <ul>
      <a href="/"><li>{{ banner.home }}</li></a>
      <a href="/blog"><li>{{ banner.blog }}</li></a>
      <a href="/#contact"><li>{{ banner.contact }}</li></a>
    </ul>
  </nav>
  <div></div>
</div>

<nav id="sitesocial">
  <ul>
    <li id="rss"><a href="/rss">RSS</a></li>
    {% for socialnet, link in site.social %}
      <li id="{{ socialnet }}"><a href="{{ link }}">{{ socialnet | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>
