<!DOCTYPE html>
<html lang="en" class="light-mode">

<head>
    <meta charset="utf-8">
    {% block head %}
        {% block meta %}
        {% endblock meta %}

        {% block scripts %}
        {% endblock scripts %}

        <link rel="icon" type="image/x-icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" media="print" href="/static/print.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed">
        <link type="text/plain" rel="author" href="/humans.txt" />
        {% block stylesheets %}
        {% endblock stylesheets %}

        <title>{{ site.name }} - {% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    {% include "banner.html" %}

    {% block beforecontent %}
    {% endblock beforecontent %}

    <div class="page-grid">
        <aside class="left-panel">
        {% block leftpanel %}
        {% endblock leftpanel %}
        </aside>

        <main
            {%block mainattrs %}{%endblock mainattrs %}
            class="body-content-wrapper {%block mainclass %}{%endblock mainclass %}"
        >
            {% block content %}{% endblock content %}
        </main>

        <aside class="right-panel">
        {% block rightpanel %}
        {% endblock rightpanel %}
        </aside>
    </div>

    {% block aftercontent %}
    {% endblock aftercontent %}

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>

</html>
