{% extends "base.html" %}

{% block meta %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.name }}" />
  {% if sources.og_image %}
  <meta property="og:image" content="{{site.base_url | safe}}/{{ sources.og_image | safe }}" />
  {% endif %}
  <meta property="og:url" content="{{ site.base_url | safe }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
{% endblock meta %}

{% block title %}{{ proindex.metadata.title }}{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/pro.css" />
{% endblock stylesheets %}

{% block beforecontent %}
<main class="pro-content-wrapper">
  <section class="pro-section" id="pro-intro">
    <!-- Titre de l'offre -->
    <h1>{{ proindex.intro.title }}</h1>
    <div id="pro-intro-container">
      <img src="/static/pro/serenity.png"/>

      <!-- Descriptif de l'offre -->
      <div id="pro-intro-text">
        <!-- Promesse -->
        {% for t in proindex.intro.texts %}
        <p>{{ t | safe }}</p>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Détail de la solution -->
  <section class="pro-section" id="pro-services">
    <ul>
      {% for sname in proindex.services.order %}
      {% set service = proindex.services[sname] %}
      <li>
        <h2>{{ service.title }}</h2>
        <img src="/static/pro/icon_{{ sname }}.png"/>
        <p>{{ service.text | safe }}</p>
      </li>
      {% endfor %}
    </ul>
    <a class="pro-hireme" href="#contact">{{ proindex.contact.linktext }}</a>
  </section>

  <!-- Valeurs / Mission -->
  <section class="pro-section" id="pro-vision">
    <h1>{{ proindex.vision.title }}</h1>
    <div>
      <div id="pro-vision-why" style="grid-area: a">
        {% for t in proindex.vision.why %}
        <p>{{ t | safe }}</p>
        {% endfor %}
      </div>
      <img src="/static/pro/vision-why.png" style="grid-area: b"/>

      <img src="/static/pro/vision-how.png" style="grid-area: c"/>
      <div id="pro-vision-how" style="grid-area: d">
        {% for t in proindex.vision.how %}
        <p>{{ t | safe }}</p>
        {% endfor %}
      </div>

      <div id="pro-vision-what" style="grid-area: e">
        {% for t in proindex.vision.what %}
        <p>{{ t | safe }}</p>
        {% endfor %}
      </div>
      <img src="/static/pro/vision-what.png" style="grid-area: f"/>
    </div>
  </section>

  <!-- TODO Testimonials section -->
  <!-- Preuves -->
  <!-- <section class="pro-section" id="pro-testimonials"> -->
  <!-- </section> -->

  <!-- Action -->
  <section class="pro-section" id="contact">
    <h1>{{ proindex.contact.title }}</h1>
    <form action="/contact" method="post">
        <input type="text" placeholder="{{ proindex.contact.name }}" name="name" required />
        <input type="email" placeholder="{{ proindex.contact.email }}" name="email" required />
        <input type="text" placeholder="{{ proindex.contact.subject }}" name="subject" required />
        <textarea name="body" rows="10" placeholder="{{ proindex.contact.body }}" maxlength=2000></textarea>

        <input type="submit" value="{{ proindex.contact.submit }}" />
    </form>
  </section>
</main>
{% endblock beforecontent %}

{% block footer %}
<div id="pro-footer">
  <nav>
    <ul>
      <a href="#contact"><li>Contact</li></a>
      <a href="/blog"><li>Blog</li></a>
      {% for socialnet, link in site.social %}
        <a href="{{ link }}"><li>{{ socialnet | capitalize }}</li></a>
      {% endfor %}
      <a href="/rss"><li>RSS feed</li></a>
    </ul>
  </nav>

  <img class="micro_logo" src="/static/logo_micro.png">
  <div class="copyrights">
      {{ site.copyrights }}
  </div>
</div>
{% endblock footer %}
