{% extends "base.html" %}

{% block title %}{{ metadata.title }}{% endblock title %}

{% block content %}
  {{ page_content | safe }}

  <!--
    TODO  Big banner image
    with a catchy phrase on top of it
    with subheadline that elaborate what is written in the image
  -->

  <!-- TODO  Featured services
    Grid with a list of services I can do
    With appealling thumbnails
    And a CTA
  -->

  <!-- TODO  About section
    Storytelling
    Mission / Vision
    Photo
  -->

  <!-- TODO  Testimonials section
    Customer reviews, with real names and real photos if possible
    With a CTA at the end of it
  -->

  <!-- TODO  Blog section
    Fetch latest blog posts, and display it here
  -->

  <!-- TODO  Contact section
    CTA with contact form
    Contact form
  -->
  

  <!-- TODO  Footer
    Navigation links
    Social media icons
    Copyright infos
  -->
{% endblock content %}
